.my_cols {
  margin: 1%;
}
.my_row {
  flex-direction: row;
  justify-content: center;
}
.profil_img {
  width: auto;
  padding: 1%;
}
.profil_img img {
  max-width: 100%;
  height: auto;
}
.card_footer {
  font-size: small;
  color: grey;
}

#my_graph {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  height: 15%;
}
